name: check
on:
  push:
    tags-ignore:
      - '[0-9]+.[0-9]+.[0-9]+'
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm install
      - run: make check
